<h1>Donations</h1>

<ul>
  {{#each donations}}
  	<li>
  	   <p>id: {{this.id}}</p>
       <p> Organization: {{this.organization_name}}</p>
			 <p> Type of the shit: {{this.foodtype}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="task"></textarea>

	<button type="submit">Submit</button>
</form>
