   <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">
        FoodBox Hero
        </h1>
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">A new approach to the fight against hunger</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="./../images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <br>
<!--signup/login forum / will display username when logged in -->

    <div class="container">
    <form action="/" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
    </div>

  <br><br>

<!--orders-->


    <div class="row">
    <div class= "col s2"></div>
    <div class="col s8 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <h4>My orders</h4>
    </div>
  </div>

   <div class="container">

 <ul class="collapsible">

    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Chicken Fries</div>
      <div class="collapsible-body"><span>
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Buisness</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>Allergyn</th>
              <th>Last call</th>

                                  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>burger king</td>
            <td>chandler</td>
            <td>1</td>
            <td>null</td>
            <td>3:00pm</td>
          </tr>
        </tbody>
      </table>
             <p class="donor text">Lorem ipsum dolor sit amet.</p>
       <br>
       <a class="waves-effect waves-light btn red">Cancel order</a>
      </span></div>
    </li>

    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Roast Beef</div>
      <div class="collapsible-body"><span>
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Buisness</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>Allergyn</th>
              <th>Last call</th>               
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>arbys</td>
            <td>mesa</td>
            <td>1</td>
            <td>null</td>
            <td>8:00pm</td>
          </tr>
        </tbody>
      </table>
             <p class="donor text">Lorem ipsum dolor sit amet.</p>
       <br>
       <a class="waves-effect waves-light btn red">Cancel order</a>
      </span></div>
    </li>
 </ul>
    </div>


<br><br>

  <!--donations-->

 <div class="row">
    <div class= "col s2"></div>
    <div class="col s8 center">
      <h3><i class="mdi-content-send brown-text"></i></h3>
      <h4>My donations</h4>
    </div>
  </div>

    <div class="container">

 <ul class="collapsible">

    <li>
      <div class="collapsible-header"><i class="material-icons"></i>Chicken Fries</div>
      <div class="collapsible-body"><span>
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Buisness</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>allergyn</th>
              <th>Last call</th>
              <th>date</th>
                                  
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>burger king</td>
            <td>chandler</td>
            <td>9</td>
            <td>null</td>
            <td>3:00pm</td>
            <td>5/20/2018</td>
          </tr>
        </tbody>
      </table>
             <p class="donor text">Lorem ipsum dolor sit amet.</p>
             <br>
             <a class="waves-effect waves-light btn red">Delete</a>
      </span></div>
    </li>

      <li>
      <div class="collapsible-header"><i class="material-icons"></i>Cheesburger</div>
      <div class="collapsible-body"><span>
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Buisness</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>allergyn</th>
              <th>Last call</th>
              <th>date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>mcdonalds</td>
            <td>phoenix</td>
            <td>9</td>
            <td>null</td>         
            <td>3:45pm</td>
            <td>5/20/2018</td>
          
          </tr>
        </tbody>
      </table>
             <p class="donor text">Lorem ipsum dolor sit amet.</p>
             <br>
             <a class="waves-effect waves-light btn red">Delete</a>
      </span></div>
    </li>


        <li>
      <div class="collapsible-header"><i class="material-icons"></i>Roast Beef</div>
      <div class="collapsible-body"><span>
      <table class="responsive-table">
        <thead>
          <tr>
              <th>Buisness</th>
              <th>Location</th>
              <th>Quantity</th>
              <th>allergyn</th>
              <th>Last call</th>
              <th>date</th>
                           
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>arbys</td>
            <td>mesa</td>
            <td>5</td>
            <td>null</td>            
            <td>8:00pm</td>
            <td>5/20/2018</td>
          </tr>
        </tbody>
      </table>
             <p class="donor text">Lorem ipsum dolor sit amet.</p>
             <br>
             <a class="waves-effect waves-light btn red">Delete</a>
      </span></div>
    </li>
 </ul>
    </div>

<br>

 </div>
    <br><br>
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="./../js/materialize.js"></script>
  <script src="./../js/init.js"></script>
  <script src="./../js/login.js"></script>