   <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text text-lighten-2">
        FoodBox Hero
        </h1>
        <br><br>
        <div class="row center">
          <h5 class="header col s12 light">A new approach to the fight against hunger</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="./../images/background1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <br>
<!--signup/login forum / will display username when logged in -->

    <div class="container">
    <form action="/" method="post">
      <div>
        <label>Username:</label>
        <input type="text" name="username" />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
    </div>

  <br><br>

  
  <!--your orders table / wont show unless logged in / edit feature / use handelbars-->

 <div class="container background color grey">

 <br><br><br><br>
   <H1 class="center"> Insert My Orders Here</H1>
 <br><br><br><br>

 </div>

<br><br>
 <!--your donations table / wont show unless logged in / edit feature / use handelbars-->
 <div class="container background color grey">

 <br><br><br><br>
   <H1 class="center"> Insert My Donations Here</H1>
 <br><br><br><br>

 </div>
    <br><br>
      <script src="./../js/login.js"></script>